{% extends 'base.html.twig' %}

{% block title %}Vue globale du Trésor{% endblock %}

{% block body %}
	<h1>Vue globale du Trésor</h1>

	<article class="viewcard">
		<div class="containerview">
			
				<div class="partleft">
					<img src={{asset('images/' ~ umbrella.imageName)}} alt="Image parapluie/ombrelle">
					<p><strong>Valeur estimée : </strong>{{umbrella.estimate}} €uro</p>
				</div>
				<div class="partright">
					<h2>{{umbrella.title}}</h2>
					<p><strong>Description : </strong>{{umbrella.description}}</p>
					<p><strong>Caractéristique spécifique : </strong>{{umbrella.characteristic}}</p>
				</div>
			
		</div>
		<div class="formcomment">
			<h3>Commentaires</h3>
			{{form_start(commentform)}}
				{{form_widget(commentform)}}
				<button>Commenter</button>
			{{form_end(commentform)}}
		</div>
		
	</article>

{% endblock %}