{% extends 'base.html.twig' %}

{% block title %}Vue globale du Trésor{% endblock %}

{% block body %}
	<h1>Vue globale du Trésor</h1>

	<article>
		<div class="container">
			<div class="view">
				<img src={{asset('images/' ~ umbrella.imageName)}} alt="Image parapluie/ombrelle">
				<div class="content_view">
					<h3>{{umbrella.title}}</h3>
					<p><strong>Description : </strong>{{umbrella.description}}</p>
					<p><strong>Caractéristique spécifique : </strong>{{umbrella.characteristic}}</p>
				</div>
				<p><strong>Valeur estimée : </strong>{{umbrella.estimate}} €uro</p>
			</div>
		</div>

		{{form_start(commentform)}}
			{{form_widget(commentform)}}
			<button>Commenter</button>
		{{form_end(commentform)}}
		
	</article>

{% endblock %}