{% extends 'base.html.twig' %}

{% block title %}Parapluie{% endblock %}

{% block body %}
	<h1>{{ isModification ? "Modifier": "Ajouter"}}</h1>
	{{form_start(umbrellaform)}}
		{{form_widget(umbrellaform)}}
		<button>{{ isModification ? "Modifier": "Ajouter"}}</button>
	{{form_end(umbrellaform)}}

{% endblock %}
