<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
		<header>
			<nav>
				<div class="menu_dropdown">
					<i class="fa-solid fa-bars"></i>
					<ul>
						<li><a href={{path('home')}}>Accueil</a></li>
						<li><a href="">Gallerie</a></li>
						<li><a href="">Contact</a></li>
						{% if not is_granted('ROLE_USER') %}
						<li><a href={{path('app_login')}}>Se connecter</a></li>
						<li><a href="">S'inscrire</a></li>
						{% else %}
						<li><a href={{path('app_logout')}}><i class="fa-solid fa-right-from-bracket"></i></a></li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
        {% block body %}
	   
	   {% endblock %}
    </body>
</html>
