<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
		<header>
			<nav>
				<p>Les Trésors des Temps Oubliés</p>
				<div class="menu_dropdown">
					<i class="fa-solid fa-bars"></i>
					<ul>
						<li><a href={{path('home')}}>Accueil</a></li>
						<li><a href={{path('galery')}}>Gallerie</a></li>
						<li><a href={{path('contact')}}>Contact</a></li>
						{% if not is_granted('ROLE_USER') %}
						<li><a href={{path('app_login')}}>Se connecter</a></li>
						<li><a href={{path('app_register')}}>S'inscrire</a></li>
						{% else %}
						<li><a href={{path('add_umbrella')}}>Ajouter</a></li>
						<li><a href={{path('app_logout')}}>Se déconnecter</a></li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
		<main>
        {% block body %}{% endblock %}
		</main>
		<footer>
			{% block footer %}
			<div class="link">
				<div class="network">
					<a href="https://fr.pinterest.com/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
					<a href="#https://x.com/?lang=fr" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
					<a href="https://www.facebook.com/?locale=fr_FR" target="_blank"><i class="fa-brands fa-facebook"></i></a>
				</div>
			<i class="fa-regular fa-copyright"> - 2024 - Les Trésors des Temps Passés</i>
			</div>
			{% endblock %}
		</footer>
    </body>
</html>
